<div class="row">
  <div class="col-12 col-sm-6 col-md-4">
    <div class="info-box bg-success text-white">
      <span class="info-box-icon elevation-1"><i class="fas fa-thumbs-up"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Firmas Validas</span>
        <h1 id="validas"></h1>
        <!-- <span class="info-box-number">25150</span> -->
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4">
    <div class="info-box bg-danger text-white">
      <span class="info-box-icon elevation-1"><i class="fas fa-thumbs-down"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Firmas NO Validas</span>
        <h1 id="anuladas"></h1>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4">
    <div class="info-box bg-primary text-white">
      <span class="info-box-icon elevation-1"><i class="fas fa-check"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Planillas Digitadas</span>
        <h1 id="planillas"></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-5">
      <div class="card">
        <div class="card-header" style="background-color: rgba(237, 232, 254, 0.6)">
          <i class="fas fa-chart-bar text-success mr-1"></i><strong>Firmas por comuna</strong>
        </div>
        <div class="card-body">
          <canvas id="BarChartComuna" style="min-height: 450px; height: 450px; max-height: 450px; max-width: 100%;">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header" style="background-color: rgba(237, 232, 254, 0.6)">
          <i class="fas fa-chart-bar text-success mr-1"></i><strong>Firmas por corregimiento</strong>
        </div>
        <div class="card-body">
          <canvas id="BarChartVereda" style="min-height: 450px; height: 450px; max-height: 450px; max-width: 100%;">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-header" style="background-color: rgba(232, 240, 254, 0.60)">
          <i class="fas fa-chart-bar text-success mr-1"></i><strong>Firmas por sexo</strong>
        </div>
        <div class="card-body">
          <canvas id="BarChartSexo" style="min-height: 450px; height: 450px; max-height: 450px; max-width: 100%;">
          </canvas>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chart.js"></script>
<script>

  //const socket = io();
  const socket = io.connect();
  var nombcom, firmcom, nombcrgto, firmcrgto, genero;

  var color = [];
  var bgColor = [];

  for (i = 0; i < 10; i++) {
    var color1 = (Math.floor(Math.random() * (255 - 0) + 0));
    var color2 = (Math.floor(Math.random() * (255 - 0) + 0));
    var color3 = (Math.floor(Math.random() * (255 - 0) + 0));
    color.push("rgba(" + color1.toString() + "," + color2.toString() + "," + color3.toString() + ", 1)");
    bgColor.push("rgba(" + color3.toString() + "," + color1.toString() + "," + color2.toString() + ", 1)");
  }

  // Bar Chart Example

  function graph_comuna() {
    var ctx = document.getElementById('BarChartComuna').getContext('2d');
    var myLineChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: nombcom,
        datasets: [{
          label: "Total",
          backgroundColor: color,
          data: firmcom,
        }],
      },
      options: {
        legend: {
          display: false
        }
      }
    });
  }

  function graph_crgto() {
    var ctxVereda = document.getElementById('BarChartVereda').getContext('2d');
    var myLineChart = new Chart(ctxVereda, {
      type: 'bar',
      data: {
        labels: nombcrgto,
        datasets: [{
          label: "Total",
          backgroundColor: bgColor,
          data: firmcrgto,
        }],
      },
      options: {
        legend: {
          display: false
        }
      }
    });
  }

  function graph_sexo() {
    var ctxSexo = document.getElementById('BarChartSexo').getContext('2d');
    var myLineChart = new Chart(ctxSexo, {
      type: 'pie',
      data: {
        labels: ["Mujeres", "Hombres"],
        datasets: [{
          label: "Total",
          backgroundColor: ["rgba(241, 157, 209", "rgba(47,10,181)"],
          data: genero,
        }],
      },
      options: {
        legend: {
          top: '5%',
          left: 'center',
          display: true
        }
      }
    });
  }

  socket.on("server:muestraDatos", (datos) => {
    document.getElementById('validas').innerHTML = datos[0];
    document.getElementById('anuladas').innerHTML = datos[1];
    document.getElementById('planillas').innerHTML = datos[2];
    nombcom = datos[3];
    firmcom = datos[4];
    nombcrgto = datos[5];
    firmcrgto = datos[6];
    genero = datos[7];
    graph_comuna();
    graph_crgto();
    graph_sexo();
  });

  socket.on("server:updateDatos", (dato) => {
    console.log("actualizando...");
    document.getElementById('validas').innerHTML = dato[0];
    document.getElementById('planillas').innerHTML = dato[1];
    nombcom = dato[2];
    firmcom = dato[3];
    nombcrgto = dato[4];
    firmcrgto = dato[5];
    genero = dato[6];
    graph_comuna();
    graph_crgto();
    graph_sexo();
  });

  socket.on("server:anuladas", (dato) => {
    console.log("actualizando...");
    document.getElementById('anuladas').innerHTML = dato;
  });


// Actualización del gráfico
//myChart.data.datasets[0].data = [200, 300, 250, 400];
//myChart.update();
</script>


