<div class="container p-5">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3 class="text-success text-center"><strong>Iniciar Sesión</strong></h3>
        </div>
        <br>
        <img src="/img/si.png" class="card-img-top mx-auto m-2 rounded-circle w-50">
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="input-group mb-3">
              <input type="text" name="username" placeholder="Username" class="form-control" autofocus required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" name="password" placeholder="Password" class="form-control" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block">
              Sing In
            </button>
          </form>
          <p class="mb-2">
            <a href="/forgot">Olvido su password?</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>